__pycache__
.cache
*.swp
ci/coverage.xml
dist
tags
cscope.*
.vscode/
# cache
.cache
# build folders and artifacts
build
*.egg-info
*.whl
# tao peoplenet files
*.fp16
*.onnx
# body-pose estimation
*.fp32
*.pt
# NSight profiler files
*.ncu-rep
*.nsys-rep
# Configurator files
configurator/build
configurator/meta-openembedded
configurator/poky
spi-vm.log
spi-vm.pid
*.so
